  #grid{
display: grid;
grid-template-columns: 1fr 6fr;
}
  ul{
border-right: 3px solid gray;
width: 200px;
text-align:center;
padding: 0;
margin: 0;
}
  body{background-color: lavender;}
  a{
text-decoration: none;
font-weight: bold;
}
  h2{border-bottom:3px solid gray;
padding: 30px;
margin:0;
}

  @media(max-width:800px){
  #grid{
  display: block;
  }
  ul{
  border-right: none;
  }
}
